@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Registration Counts by Event";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Event Name</th>
            <th>Number of Registrations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EventId</td>
                <td>@item.EventName </td> 
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("GetAllRegistrations", "Registration")" class="btn btn-primary">Back to All Registrations</a>
</p>
